# docs: https://docs.gitlab.com/ee/ci/examples/#cicd-templates

image: python:3.11

variables:
  MYSQL_DATABASE: $MYSQL_DB
  MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASS
  MYSQL_USER: $MYSQL_USER
  MYSQL_PASSWORD: $MYSQL_PASS
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

before_script:
  - apt-get update && apt-get install -y python3-dev build-essential libssl-dev default-libmysqlclient-dev
  - pip install -r req.txt


cache:
  key: v1-{{ .Branch }}-{{ checksum "req.txt" }}
  paths:
    - ~/.cache/pip
#  key: python_n_package
#  paths:
#    - usr/local/bin/python
#    - usr/local/lib/python/site-packages/

stages:
  - pylint_check
  - migrations_init
  - run_testcase


pylint_check:
  stage: pylint_check
  script:
    - python -m pylint --recursive=y .

migrations_init:
  stage: migrations_init
  script:
    - if echo "master sit dev" | grep -qw "$CI_COMMIT_BRANCH"; then
        python manage.py makemigrations --check --dry-run --noinput;
        python manage.py migrate;
        python manage.py init_data;
      fi
  rules:
    - if: '$CI_COMMIT_BRANCH != null'

run_testcase:
  stage: run_testcase
  script:
    - python manage.py test
  after_script:
    - exit
