# docs: https://docs.gitlab.com/ee/ci/examples/#cicd-templates

variables:
  MYSQL_DATABASE: $MYSQL_DB
  MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASS
  MYSQL_USER: $MYSQL_USER
  MYSQL_PASSWORD: $MYSQL_PASS

default:
  image: python:3.11
  before_script:
    - apt-get update && apt-get install -y python3-dev build-essential libssl-dev default-libmysqlclient-dev
    - pip install -r req.txt

cache:
  key: python_n_package
  paths:
    - /usr/local/bin/python3.11
    - /usr/local/lib/python3.11/site-packages/

stages:
  - check
  - migrations-init
  - test


lint:
  stage: check
  script:
    - python -m pylint --recursive=y misapi/__init__.py

test_migrations:
  stage: migrations-init
  script:
    - python manage.py makemigrations --check --dry-run --noinput
    - python manage.py migrate

cmis-tests:
  stage: test
  script:
    - python manage.py test
  after_script:
    - exit
