# docs: https://docs.gitlab.com/ee/ci/examples/#cicd-templates

image: localhost:5000/gitlab-ci-api

services:
  - name: localhost:5000/mysql:8
    alias: db

variables:
  DB_HOST: "db"
  DB_PORT: "3306"
  DB_NAME: $MYSQL_DB
  DB_USER: $MYSQL_USER
  DB_PASSWORD: $MYSQL_PASS
  MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASS
  MYSQL_DATABASE: $MYSQL_DB
  MYSQL_USER: $MYSQL_USER
  MYSQL_PASSWORD: $MYSQL_PASS

before_script:
#  # uncomment below commented when change image to global hub "python:3.11"
#  - apt-get update && apt-get install -y python3-dev build-essential libssl-dev default-libmysqlclient-dev
#  - pip install --upgrade pip
  - pip install -r req.txt
# - apt-get update && apt-get install -y default-mysql-client
  - echo "Waiting for MySQL to be ready..." && until mysql -h "$DB_HOST" -u "$MYSQL_USER" -p"$MYSQL_PASS" -e "SELECT 1"; do
      echo "Waiting for database to be ready...";
      sleep 2;
    done
  - mysql -h $DB_HOST -u"$MYSQL_USER" -p"$MYSQL_PASSWORD" -e "ALTER DATABASE $MYSQL_DB CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;"
  - echo "Initializing database with init.sql..." && mysql -h "$DB_HOST" -u "$MYSQL_USER" -p"$MYSQL_PASS" "$MYSQL_DB" < ./.cicd.sql

stages:
  - pylint_check
  - migrations_init
  - run_testcase

pylint_check:
  stage: pylint_check
  script:
    - python -m pylint --recursive=y .

migrations_init:
  stage: migrations_init
  script:
    - if echo "master sit dev" | grep -qw "$CI_COMMIT_BRANCH"; then
      python manage.py makemigrations --check --dry-run --noinput;
      python manage.py migrate;
      python manage.py init_data;
      python manage.py init_system_data;
      fi
  rules:
    - if: '$CI_COMMIT_BRANCH != null'

run_testcase:
  stage: run_testcase
  script:
    - if [[ ! "$CI_COMMIT_BRANCH" =~ ^(master|sit|dev)$ ]]; then
      python manage.py makemigrations;
      fi
    - python manage.py test --keepdb
  after_script:
    - rm -rf *.sqlite3
    - exit
  rules:
    - if: '$CI_COMMIT_BRANCH != null'
