# docs: https://docs.gitlab.com/ee/ci/examples/#cicd-templates

image: python:3.11

variables:
  MYSQL_DATABASE: $MYSQL_DB
  MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASS
  MYSQL_USER: $MYSQL_USER
  MYSQL_PASSWORD: $MYSQL_PASS
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

before_script:
  - apt-get update && apt-get install -y python3-dev build-essential libssl-dev default-libmysqlclient-dev
  - pip install -r req.txt

#cache:
#  key: python_n_package_1
#  paths:
#    - .cache/pip
#    - venv/


cache:
  key: python_n_package
  paths:
    - usr/local/bin/python3.11
    - usr/local/lib/python3.11/site-packages/
  untracked: true

stages:
  - check
  - migrations-init
  - test


lint:
  stage: check
  script:
    - usr/local/bin/python3.11 -m pylint --recursive=y misapi/__init__.py

test_migrations:
  stage: migrations-init
  script:
    - usr/local/bin/python3.11 manage.py makemigrations --check --dry-run --noinput
    - usr/local/bin/python3.11 manage.py migrate

cmis-tests:
  stage: test
  script:
    - usr/local/bin/python3.11 manage.py test
  after_script:
    - exit
